@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-cor0: #262626;
  --color-cor2: #15726c;
  --color-cor3: #219781;
  --color-cor4: #0d4040;
  --color-cor5: #362f40;
  --color-cor6: #cba14f;
  --color-cor7: #222d39;
  --color-cor8: #2a3747;
  --font-WorkSans: "Work Sans", sans-serif;
}

:root {
  --cor3: #219781;
}

/*Adicionado a estilização do botão de animação aqui para não precisar criar variável com o content no js do tailwind*/

#animatedButton {
  background-color: var(--cor3);
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding: 12px 30px;
  transition: all 0.5s;
  cursor: pointer;
}

#animatedButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#animatedButton span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#animatedButton:hover span {
  padding-right: 25px;
}

#animatedButton:hover span:after {
  opacity: 1;
  right: 0;
}
